# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Target
/target/.*
/src/java/assets/Page Breakdown.docx
/target/classes/classes/Receipt.class
/out/artifacts/Receipt_Splitter_jar/Receipt Splitter.jar
/target/classes/tabs/ReceiptsTab.class
/target/classes/pages/StartPage.class
/.idea/workspace.xml
/target/classes/classes/CheckboxListRenderer$CheckboxListItem.class
/target/classes/classes/CheckboxListRenderer.class
/target/classes/tabs/CostsTab.class
/target/classes/tabs/EditingTab$1.class
/target/classes/tabs/EditingTab.class
/target/classes/tabs/LabellingTab$1.class
/target/classes/tabs/LabellingTab.class
/target/classes/Main.class
/target/classes/pages/MainPage.class
/target/classes/META-INF/MANIFEST.MF
/target/classes/receipt/Checklist$CheckboxListItem.class
/target/classes/receipt/Checklist.class
/src/java/assets/Logo Colours.JPG
/src/main/resources/META-INF/MANIFEST.MF
/src/java/assets/oldlogo.jpg
/target/classes/receipt/Prepare.class
/src/java/assets/Receipt.png
/target/classes/receipt/Save.class
/src/java/assets/Tabs.png
/target/classes/receipt/Track.class
